@use 'transitions'
@use 'variables'
	
#MainMenu,
#MainMenuContainerPanel,
#MainMenuInput,
#MainMenuCore,
#MainMenuBackground,
#MainMenuMovieParent,
#MainMenuMovie,
#MainMenuCampaignFrameParent,
#MainMenuCampaignFrame,
#BackbufferImagePanel
	width: 100%
	height: 100%


Panel.vertical-flow
	flow-children: down

Panel.horizontal-flow
	flow-children: right


#MainMenu.paused #MainMenuMovie
	visibility: collapse


#menu-root
	align: center center
	height: 70%
	width: 80%

	#main-logo
		align: left top
		position: -30px 0 0
		height: 30%

	.main-menu-page
		align: left bottom
		width: 100%
		height: 60%

		flow-children: down
		visibility: collapse

		&.visible
			visibility: visible
	
	.main-menu-button
		background-color: variables.$button-background
		color: variables.$button-color
		min-width: 600px
		margin-bottom: 10px

		&.mini
			min-width: 300px

		&:hover
			background-color: variables.$button-background-hl
			color: variables.$button-color-hl
	
		Label
			width: 100%
			text-align: center
			font-family: variables.$font-family
			font-size: 24px
			padding: 10px 20px

	.main-menu-button-dummy
		min-width: 600px
		margin-bottom: 10px
		height: 44px

	#home-container
		flow-children: right

		.main-menu-button
			margin-right: 10px

		#home-submenu-container > Panel
			visibility: collapse

		#home-submenu-container > Panel.visible
			visibility: visible
		
		.main-menu-button.expanded
			background-color: darken( variables.$button-background-hl, 7 )